body {
	background-color: white;
	font-family: Helvetica;
	padding-top:80px;
}
.navbar-brand{
	font-size: 200%;
	margin-left: 3%
}
p{
	margin-bottom: 2.5%;
	font-size: 200%;
}
div.text-center{
	position: relative;
	font-size: 150%;
	padding-top:1.5%;
	padding-bottom:1.5%;	
}
div.body{
	position: relative;
	text-align: justify;
	margin-left: 3%;
	padding-left:2%;
	margin-right: 3%;
	padding-right:2%;
	background-color: lightgrey
}

